<!DOCTYPE html>
<html lang="en">

  <head>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-table.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
    <link href="css/spinner.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>

    <!--
    <script src="js/gunzip.min.js"></script>
    <script src="js/sql.js"></script>
    <script src="js/d3.min.js"></script>
    <script src="js/palette.js"></script>

    <script src='js/distance.js'></script>
    <script src='js/kmeans.js'></script>
    <script src='js/hcluster.js'></script>
    -->

    <script src='js/bootstrap-table.js'></script>
    <script src='js/bootstrap-table-multiple-sort.js'></script>
    <script src='js/bootstrap-table-filter-control.js'></script>

    <div id="tooltip" class="hidden" style='z-index:100;'> <p><span id="value"></span></p> </div>
    <script src='js/clinvar-report-load.js'></script>

  </head>

<body>
  <div class="container">

        <h1>ClinVar Report %%REPORT_ID%%</h1>
        <p></p>

        <div id="spinner" class="spinner spinner-32px spinner-h-center"></div>


        <div id="main" style="display:none;">
          <table id="table"
              data-flat="true"
              data-show-columns="true"
              data-show-multi-sort="true"
              data-search="true"
              data-filter-control="true"
              data-sort-priority='[{"sortName": "variants.clinical_significance","sortOrder":"desc"},{"sortName":"variants.allele_freq","sortOrder":"desc"}]' >
            <thead>
              <tr>
                <th data-field="html_link_name" data-sortable="true">Name</th>
                <th data-field="clinical_significance" data-filter-control="select" data-sortable="true">Significance</th>
                <th data-field="allele_freq" data-sortable="true">Allele Freq.</th>
                <th data-field="zygosity" data-sortable="true">Zygosity</th>
              </tr>
            </thead>
          </table>
        </div>

    </div>

  </div> <!-- container -->
</body></html>
